.navbar-blue {
	background-color: #428bca;
	border-color: #387ab2;
	border-radius: 0;
}

.navbar-blue .navbar-brand {
	color: #ffffff;
}

.navbar-blue .navbar-brand:hover,.navbar-blue .navbar-brand:focus {
	color: #ffffff;
}

.navbar-blue>li::hover, .navbar-blue .navbar-right>li::focus  {
	background-color: #428bca;
}

.navbar-blue .navbar-text {
	color: #ffffff;
}

.navbar-blue .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-blue .navbar-nav>li>a:hover,.navbar-blue .navbar-nav>li>a:focus
	{
	background-color: #428bca;
	color: #ffffff;
}

.navbar-blue .navbar-nav>.active>a,.navbar-blue .navbar-nav>.active>a:hover,.navbar-blue .navbar-nav>.active>a:focus
	{
	color: #ffffff;
	background-color: #387ab2;
}

.navbar-blue .navbar-nav>.open>a,.navbar-blue .navbar-nav>.open>a:hover,.navbar-blue .navbar-nav>.open>a:focus
	{
	color: #ffffff;
	background-color: #387ab2;
}

.navbar-blue .navbar-toggle {
	border-color: #387ab2;
}

.navbar-blue .navbar-toggle:hover,.navbar-blue .navbar-toggle:focus {
	background-color: #387ab2;
}

.navbar-blue .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-blue .navbar-collapse,.navbar-blue .navbar-form {
	border-color: #ffffff;
}

.navbar-blue .navbar-link {
	color: #ffffff;
}

.navbar-blue .navbar-link:hover {
	color: #ffffff;
}

@media ( max-width : 767px) {
	.navbar-blue .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-blue .navbar-nav .open .dropdown-menu>li>a:focus
		{
		color: #ffffff;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu>.active>a,.navbar-blue .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-blue .navbar-nav .open .dropdown-menu>.active>a:focus
		{
		color: #ffffff;
		background-color: #387ab2;
	}
}

.question-container {
	margin-top: 100px;
	margin-bottom: 55px;
}

.bottom-survey-buttons {
	margin-top: 25px;
	margin-bottom: 15px;
}

label.rank-item {
	display: inline;
	font-weight: normal;
	margin-left: 5px
}

.panel-primary {
	border-radius: 0;
}

.panel-primary .panel-heading {
	border-radius: 0;
}

.panel-primary .list-group-item {
	border-radius: 0;
	border-color: #ccf;
}