body {
	background-color: #E8EDEF;
}

.jumbotron {
	background-color: #E8EDEF;
}

.navbar-default {
	background-color: #0087cc;
	border-color: #006599;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus
	{
	color: #fafafa;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	{
	color: #fafafa;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: #fafafa;
	background-color: #006599;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
	{
	color: #fafafa;
	background-color: #006599;
}

.navbar-default .navbar-toggle {
	border-color: #006599;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
	{
	background-color: #006599;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #fafafa;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus
		{
		color: #fafafa;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus
		{
		color: #fafafa;
		background-color: #006599;
	}
}

.navbar-default .navbar-button:hover,.navbar-default .navbar-button:focus
	{
	background-color: #006599;
}

.progress {
	background-color: #fff;
	margin-top:15px;
	margin-bottom:0px;
}

.progress-bar-success {
	background-color: #5cb85c;
}

.progress-title {
	color: #fff;
	margin-top:18px;
}

.question-container {
	margin-top: 100px;
	margin-bottom: 55px;
}

.bottom-survey-buttons {
	margin-top: 25px;
	margin-bottom: 15px;
}

label.rank-item {
	display: inline;
	font-weight: normal;
	margin-left: 5px
}

.panel-primary {
	border-radius: 0;
	border-width: 0;
	box-shadow: 2px 2px 4px #888888;
}

.panel-primary .panel-heading {
	border-radius: 0;
	border-width: 0;
	background-color: #00B5B5;
}

.panel-primary .list-group-item {
	border-radius: 0;
	border-width: 1px;
	border-color: #eee;
}